{{ define "Header" }}
<!DOCTYPE html>
<html lang="en-US">
    <head>
        <title>Company Database of the Employee</title>
        <meta charset="UTF-8" />
    </head>
    <body>
        <h1>Company Database of the Employee</h1>   
{{ end }}